.formContainer {
  height: 73vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.rightFloat {
  background-color: #fff;
  box-shadow: #d8b4fe 0px 7px 29px 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.leftFloat {
  background-image: linear-gradient(35deg, #e6d1f2, #ccb7e5, #b19cd8, #d9c4ec);
  box-shadow: #d8b4fe 0px 7px 29px 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.inputContainer input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #c026d3;
  outline: 0;
}
.radioBtn {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.submitBtn {
  background-color: transparent;
  border: 2px solid #c026d3;
  border-radius: 0.6em;
  color: #fff;
  display: flex;
  font-size: 1rem;
  padding: 10px 20px !important;
  text-align: center;
  box-shadow: 0 0 40px 40px #c026d3 inset, 0 0 0 0 #c026d3;
  transition: all 150ms ease-in-out;
  margin-bottom: 25px;
}

.submitBtn:hover {
  color: #000;
  outline: 0;
  box-shadow: 0 0 10px 0 #c026d3 inset, 0 0 10px 4px #c026d3;
}
.returnBtn {
  background-color: transparent;
  border: 2px solid #4f46e5;
  border-radius: 0.6em;
  color: #fff;
  display: flex;
  font-size: 1rem;
  padding: 10px 20px !important;
  text-align: center;
  box-shadow: 0 0 40px 40px #4f46e5 inset, 0 0 0 0 #4f46e5;
  transition: all 150ms ease-in-out;
  margin-bottom: 50px;
}

.returnBtn:hover {
  color: #000;
  outline: 0;
  box-shadow: 0 0 10px 0 #4f46e5 inset, 0 0 10px 4px #4f46e5;
}
